
* {
box-sizing: border-box;
margin: 0px;
padding: 0px;

}
.navbar-nav {
 margin-left: auto;  
 gap: 5px;  
 font-size: 20px; 
 font-family: ' Serif';    
}

nav .nav-link {
  color: #000000  
}
nav{
   min-height: auto; 
   border-bottom: 1px solid #666666;
}
.navbar-brand span {
  font-family: 'Serif';
  font-size: 28px;
}

/* حركه الايموشن*/

.typing-container {
  display: flex; 
}
.typing-text {
  font-family: ' Great Vibes '; 
  font-size: 2.6rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #000; 
  width: 0;
 
  /*  الحركة الأولى للكتابة، والثانية لرمشة المؤشر */

  animation: 
    typing 3.5s steps(15) forwards,
    blink 0.75s step-end infinite;
}

/* حركة زيادة العرض ليظهر الحرف تلو الآخر */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* حركة رمشة المؤشر */
@keyframes blink {
  from, to { border-color: transparent; } 
  50% { border-color: #000; }
}



body{ 
  background-color:#EAE5DF ; 
 
}
section{
 width: auto; 
 height: auto;  
 margin: 0 auto;                        
 font-family: Serif;      
 font-size: 1rem;
  padding-left: 1%;
  padding-right: 1rem;
  border-bottom: .06rem solid #666666 ;
  border-top: .06rem solid #666666 ;
  border-radius: 20px; 
  padding: 40px 20px;
  background-color: #EAE5DF ;  
  
}


/* -------hero -------*/ 
.hero-container {
  height: 80vh;
  display: flex;
  padding: 50px 10px;
  background-color:#EAE5DF;
  box-sizing: border-box; 
  overflow: hidden;
}

.hero-content {
  width: 95%;
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

.hero-image {
 width:100%;
  display: flex;
  justify-content:center;
  align-items: center;
  position: relative;
}
.hero-image img {
  max-width: 100%;     
  height: auto;        
  max-height: 350px;   
  object-fit: contain; 
  position: relative;
}

.hero-image::before {
  content: "";
  position: absolute;
  width: 300px;          
  height: 340px;        
  background-color: #6f5532;
  border-radius: 50%;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  object-fit: cover; 
}
.hero-title {
  font-size: 2rem;
  font-weight: 800;
  color: #000000;
  margin-bottom: 8px; 
}

.hero-description {
  font-size: 1.75rem;
  color: #666666;
}

.hero-b {
  display: flex;
  gap: 15px;
}

.btn {
 padding: 10px 24px;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.primary-btn {
  border: 1px solid #666666;
  color: #F3F0EC;
  background-color: #6f5532;
}

.primary-btn:hover {
  background-color: #C8C0B7;

}

.secondary-btn {
  border: 1px solid #666666;
  color: #F3F0EC;
  background-color: #6f5532;
}

.secondary-btn:hover {
  background-color: #C8C0B7;
}


/* Responsive design for mobile screens */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse; 
    height: auto;
    width: 99%;
    padding: 10px 10px;
  }

  .hero-title {
    font-size: 1.5rem; 
  }

  .hero-description {
    font-size: 1.2rem; 
  }

  .hero-image {
    justify-content: center;
    margin-top: 11px;
  }

  .hero-image img {
    max-height: 250px; 
  }


.hero-image::before {
  content: "";
  position: absolute;
  width: 300px;          
  height: 280px;        
  background-color: #6f5532;
  border-radius: 50%;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

}

/*------- About------*/

.about-section {
  display: flex;
  width: 99%;
  padding: 3rem ;
  gap: 2rem;
}

.about-text,
.about-image {
  width: 50%; 
 
}

.about-tag {
  display: inline-block;
  font-size: 1.5rem;
 letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .4rem 1.2rem;
  background-color: #6f5532;
  color: white;
  border-radius: 20px;
}

.about-description {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #222;
  margin: 0;
}

.about-image img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

/*  phone */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 1.5rem;
  }

  .about-text,
  .about-image {
    width: 100%; 
  }

  .about-text {
    text-align: center; 

  .about-description {
    font-size: 1.05rem; 
    line-height: 1.6;
  }

  .about-image img {
    max-height: 280px; 
  }
}
}

/*------experience------*/


.exp-container {
  height: auto;
  display: flex;
  padding: 50px 10px;

}

.exp-content {
  width: 95%;
  max-width: 600px;
  text-align: left;
  display: flex;
 
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  font-size: 4rem;
}

/*-----qualific------*/
.container-qual {
display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
max-width: 900px;
}

h4{
   display: inline-block;
    color: #fdfffe; 
    background-color:  #6f5532; 
    padding: 6px 16px;
    border-radius: 20px; 
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
     margin-top: 1rem;
    border: 1px solid #ffffff;
    margin: 5px;
 }

 .qual-section {
  width: 99%;
 padding: 1rem 1.5rem;
  gap: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  
}

.container-qual p{
 border: 1px solid #000000;
 border-radius: 20px;
 width: 500px;
 height:auto;
 width: auto;
 padding: 15px;
 margin: 10px;
 transition: all 0.3s ease; 
 gap: 10px;
 display: flex;    
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  
}

.container-qual p:hover {
    font-weight: bold; 
    color: #6f5532;
   box-shadow: 0 10px 20px #C8C0B7; 
   transform: translateY(-5px);
}

/* ----- phone----- */
@media (max-width: 768px) {
  .container-qual {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto !important;
    gap: 15px;
  }

  .container-qual p {
    font-size: 1.15rem;
  }
}

section a {
  color: #000000;            
  text-decoration: underline; 
  transition: color 0.3s ease;
}

section a:hover {
  color: #000000;        
}

html {
  scroll-behavior: smooth;
}

/* -----skills----- */

.skill-section{
  width: 99%;
  padding: 1rem 1.5rem;
}

.skill-section h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.skills-wrapper {
  display: flex;
 justify-content: space-between;
   
}

.skills-column{
  width: 50%;
}

.skills-column h5 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #333;
  
}
.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list li {
  width: auto;
  border: 1px solid #717574;
  border-radius: 20rem;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
}

.skills-list li:hover {
  background-color: #937b45;
  border: 1px solid #f4ffec;
  color: #f4ffec;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .skills-wrapper {
    flex-direction: column; 
    gap: 2rem;
  }
}

/*------- project---------*/ 
.PROJECTS {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PROJECTS h4 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  text-align: center;
}

.container-project {
  border: 1px solid #717574;
  border-radius: 20px;
  width: 99%;
  max-width: 75%; 
  padding: 25px;
  margin: 15px 0;
  transition: all 0.3s ease; 
  background-color: #ffffff;
}

.container-project p {
  margin-bottom: 20px;
  color: #333333;
  line-height: 1.6;
  font-size: 1.1rem;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; 
  margin-top: 10px;
  align-items: center;
}

.tag {
  background-color: #6f5532; 
  color: #ffffff; 
  border: 1px solid #C8C0B7; 
  border-radius: 6px; 
  padding: 6px 12px; 
  font-size: 0.85rem; 
  font-weight: 600;
  transition: all 0.2s ease;
}

.tag-link {
  text-decoration: none;
  background-color: #6f5532; 
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.tag-link:hover {
  background-color: #6f5532;
  border-color: #C8C0B7;
  color: #ffffff;
  transform: translateY(-2px);
}

/* للتجاوب مع الهواتف */
@media (max-width: 600px) {
  .container-project {
    padding: 15px;
  }

  .project-gallery {
    grid-template-columns: 1fr; /* جعل الصور فوق بعض في الموبايل */
  }

  .project-gallery img {
    height: 180px;
  }
}

/*-------REFERENCES------*/


.ref-section {
  width: 99%;
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
}

.container-ref {
  max-width: auto;
  margin: 2rem auto 0 auto;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
}

.ref-card {
  background-color: #f4fbf7; 
  color: #333333; 
  border: 1px solid #6f5532; 
  border-radius: 12px; 
  padding: 25px; 
  font-size: 1.5rem; 
  line-height: 1.5;
  margin: 0;                  
  transition: all 0.3s ease;  
}


.ref-card a {
  color: #6f5532;
  font-weight: bold;
  margin-top: 4px;
}

.ref-card:hover {
  border-color: #6f5532;
  box-shadow: 0 10px 20px rgba(100, 80, 44, 0.25); 
  transform: translateY(-5px);
  background-color: #ffffff;
}

.ref-card:hover a {
  color: #6f5532;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container-ref {
    grid-template-columns: 1fr; 
    gap: 15px;
  }
}

 /* ---contact----- */
.container-contact{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  padding: 10px ;
  gap: 10px;
  
}

.container-contact h5{
  font-size: 1.4rem;
  font-weight: 800;
  color: #000000;
  margin-bottom: 15px;
  text-align: center;
}
 
.btn {
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.primary-btn2 {
  background-color: #6f5532;
  color: #ffffff;
}


/* ------- FOOTER ------- */
.footer-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 25px 0;
}
.footer-buttons a {
    color: #6f5532;
    padding: 10px 20px;
    border: 1px solid#6f5532;
    border-radius: 20px;
    text-decoration: none;
}

.footer-buttons a:hover {
    background-color: #C8C0B7;
    color: #2C3639;
}
.top-button {
    color: #C8C0B7;
    text-decoration: none;
}
.top-button:hover {
    color: #C8C0B7;
}